<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <!--给UI层控制器进行注入，引用的属性在BLL_Spring_Attribute中-->
  <object type="DotNet.MVC.Areas.Admin.Controllers.AdminLoginController,DotNet.MVC" singleton="false" >
    <property name="UserLoginBll" ref="PermissUserLoginBll" />
  </object>
  <object type="DotNet.MVC.Areas.Admin.Controllers.AdminHomeController,DotNet.MVC" singleton="false" >
    <property name="MenuBll" ref="PermissMenuBll" />
    <property name="UserLoginBll" ref="PermissUserLoginBll" />
  </object>
  <object type="DotNet.MVC.Areas.Admin.Controllers.AdminButtonController,DotNet.MVC" singleton="false" >
      <property name="ButtonBll" ref="PermissButtonBll" />
  </object>
  <object type="DotNet.MVC.Areas.Admin.Controllers.AdminMenuController,DotNet.MVC" singleton="false" >
    <property name="MenuBll" ref="PermissMenuBll" />
    <property name="ButtonBll" ref="PermissButtonBll" />
    <property name="MenuButtonBll" ref="PermissRefMenuButtonBll" />
  </object>
  <object type="DotNet.MVC.Areas.Admin.Controllers.AdminUserController,DotNet.MVC" singleton="false" >
    <property name="UserLoginBll" ref="PermissUserLoginBll" />
    <property name="UserDetailsBll" ref="PermissUserDetailsBll" />
    <property name="DepartmentBll" ref="PermissDepartmentBll" />
  </object>
  <object type="DotNet.MVC.Areas.Admin.Controllers.AdminDepartmentController,DotNet.MVC" singleton="false" >
    <property name="DepartmentBll" ref="PermissDepartmentBll" />
  </object>
  <object type="DotNet.MVC.Areas.Admin.Controllers.AdminRoleController,DotNet.MVC" singleton="false" >
    <property name="RoleBll" ref="PermissRoleBll" />
    <property name="DepartmentBll" ref="PermissDepartmentBll" />
  </object>
</objects>