<?xml version="1.0" encoding="utf-8" ?>
  
  


<objects xmlns="http://www.springframework.net">
	<object name="PermissButtonBll" type="DotNet.BLL.PermissButtonBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissDepartmentBll" type="DotNet.BLL.PermissDepartmentBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissMenuBll" type="DotNet.BLL.PermissMenuBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissRefMenuButtonBll" type="DotNet.BLL.PermissRefMenuButtonBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissRefRoleMenuButtonBll" type="DotNet.BLL.PermissRefRoleMenuButtonBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissRefUserDepartmentBll" type="DotNet.BLL.PermissRefUserDepartmentBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissRefUserMenuButtonBll" type="DotNet.BLL.PermissRefUserMenuButtonBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissRefUserRoleBll" type="DotNet.BLL.PermissRefUserRoleBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissRoleBll" type="DotNet.BLL.PermissRoleBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissUserDetailsBll" type="DotNet.BLL.PermissUserDetailsBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="PermissUserLoginBll" type="DotNet.BLL.PermissUserLoginBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="StateBugBll" type="DotNet.BLL.StateBugBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="StateLoginLogBll" type="DotNet.BLL.StateLoginLogBll,DotNet.BLL" singleton="false" ></object> 	 
	<object name="StateOperateLogBll" type="DotNet.BLL.StateOperateLogBll,DotNet.BLL" singleton="false" ></object> 	 
</objects>
