<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--Spring.Net配置节点-->
    <sectionGroup name="spring">
      <!--提供Spring对MVC4程序应用程序上下文的支持-->
      <section name="context" type="Spring.Context.Support.MvcContextHandler, Spring.Web.Mvc5" />
    </sectionGroup>
    <!--log4net节点的配置-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <spring>
    <context>
      <!--配置引用文件的不同写法-->
      <!--属性设置成始终复制!-->
      <!--<resource uri="config://spring/objects"/>-->
      <!--Common层CacheHelper的注入-->
      <resource uri="file://~/Config/Common_Cache.xml" />
      <!--BLL属性对象-->
      <resource uri="file://~/Config/Spring_BLL_Attribute.xml" />
      <!--UI层控制器中注入的BLL对象-->
      <resource uri="file://~/Config/Spring_BLL_Controllers.xml" />
      <!--用户操作AOP-->
      <!--<resource uri="file://~/Config/Spring_OperatorLog.xml" />-->
    </context>
  </spring>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-DotNet.MVC-20160413053031.mdf;Initial Catalog=aspnet-DotNet.MVC-20160413053031;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DbConnectionString" connectionString="data source=.;initial catalog=DotNet;user id=sa;password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="VCodeLength" value="4"/>
    <!--***************************************************************-->
    <!--数据库类型SqlServer,MySql,Oracle,SQLite,ODBC,OleDb,Firebird,PostgreSql,DB2,Informix,SqlServerCe-->
    <add key="dbTpye" value="SqlServer" />
    <!--该数据库的参数化符号-->
    <add key="dbMark" value="@" />
    <add key="AssemblyName" value="DotNet.DAL" />
    <!--***************************************************************-->
    <!--Memcached服务的ip配置，切换memcached与asp.net自带cache请到Config/Common_Cache.xml-->
    <!--多个机器的ip用逗号隔开即可-->
    <!--<add  key="MemcachedServer" value="192.168.95.1:11211,192.168.95.2:11211"/>-->
    <!--***************************************************************-->
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <!--上传文件大小限制设置为2G，默认4M-->
    <!--<httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="2147483647" requestPathInvalidCharacters=""/>-->
    
    <!--错误页配置-->
    <!--RemoteOnly,本地显示黄页，运行显示错误页-->
    <customErrors mode="RemoteOnly" defaultRedirect="MyErrorPage.aspx">
      <error statusCode="403" redirect="~/html/NoAccess.html" />
      <error statusCode="404" redirect="~/html/FileNotFound.html" />
    </customErrors>

  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
